.statistics {
  margin: 0px auto;
  background-color: #c4c0c0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 60px;
  padding: 30px;
  justify-content: center;
}
.stat-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}
.item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  background-color: #fff;
  color: black;
  width: 293px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
